In [77]:
import pandas as pd
import numpy as np

df = pd.read_csv('SMH.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 11 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Timestamp                                     101 non-null    object
 1   Choose your gender                            101 non-null    object
 2   Age                                           100 non-null    float64
 3   What is your course?                          101 non-null    object
 4   Your current year of Study                    101 non-null    object
 5   What is your CGPA?                            101 non-null    object
 6   Marital status                                101 non-null    object
 7   Do you have Depression?                       101 non-null    object
 8   Do you have Anxiety?                          101 non-null    object
 9   Do you have Panic attack?                     101 non-null    object
 10  Did you seek any specialist for a treatment?  101 non-null    object
dtypes: float64(1), object(10)
memory usage: 8.8+ KB

In [78]:
df.head()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

The first thing I want to clean up are the column names to make it easier to read and manipulate later.  1.) make lower case 2.) change from questions to singular name

In [79]:
df.columns = df.columns.str.lower()

changing the column names by setting the names to an array. Do df.columns then copy result then df.columns = to paste and make my changes

In [81]:
df.columns

Index(['timestamp', 'choose your gender', 'age', 'what is your course?',
       'your current year of study', 'what is your cgpa?', 'marital status',
       'do you have depression?', 'do you have anxiety?',
       'do you have panic attack?',
       'did you seek any specialist for a treatment?'],
      dtype='object')

In [82]:
df.columns = ['timestamp', 'gender', 'age', 'course',
       'years', 'cgpa', 'married',
       'depression', 'anxiety',
       'attacks',
       'treatment']

There are different names for the rows in years columun that mean the same thing (year 1 Year 1).

In [83]:
df['years'].sort_index(ascending=True).unique()

array(['year 1', 'year 2', 'Year 1', 'year 3', 'year 4', 'Year 2',
       'Year 3'], dtype=object)

In [84]:
year = {'year 1': '1', 'year 2': '2' , 'Year 1': '1', 'year 3': '3', 'year 4':'4', 'Year 2':'2', 'Year 3':'3'}

df['year'] = df['years'].map(year)

df['year'].replace(year)

0      1
1      2
2      1
3      3
4      4
      ..
96     1
97     2
98     3
99     4
100    2
Name: year, Length: 101, dtype: object

I added the column 'year' then I drop the column 'years'

In [85]:
df.head()

,timestamp,gender,age,course,years,cgpa,married,depression,anxiety,attacks,treatment,year
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No,1
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No,2
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No,1
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No,3
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No,4

In [86]:
df.drop(columns=['years'], inplace=True)
df.head()

,timestamp,gender,age,course,cgpa,married,depression,anxiety,attacks,treatment,year
0,8/7/2020 12:02,Female,18.0,Engineering,3.00 - 3.49,No,Yes,No,Yes,No,1
1,8/7/2020 12:04,Male,21.0,Islamic education,3.00 - 3.49,No,No,Yes,No,No,2
2,8/7/2020 12:05,Male,19.0,BIT,3.00 - 3.49,No,Yes,Yes,Yes,No,1
3,8/7/2020 12:06,Female,22.0,Laws,3.00 - 3.49,Yes,Yes,No,No,No,3
4,8/7/2020 12:13,Male,23.0,Mathemathics,3.00 - 3.49,No,No,No,No,No,4

Next I'll check for nulls

In [88]:
df.isna().sum()

timestamp     0
gender        0
age           1
course        0
cgpa          0
married       0
depression    0
anxiety       0
attacks       0
treatment     0
year          0
dtype: int64

I only have one null that pandas recognizes in age. To see what that is I'll check unique.

In [91]:
df['age'].unique()

array([18., 21., 19., 22., 23., 20., 24., nan])

Since there is just one, I'm going to drop it.

In [92]:
df = df.dropna(subset=['age'])

df.isna().sum()

timestamp     0
gender        0
age           0
course        0
cgpa          0
married       0
depression    0
anxiety       0
attacks       0
treatment     0
year          0
dtype: int64